form {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	width: 400px;
}

label {
	display: flex;
	flex-direction: column;
}

.problem {
	height: 1rem;
	background-color: rgba(255, 0, 0, 0.1);
}

.terms-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.terms-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
	height: 2rem;
}